/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.section {
    padding: 20px 0;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    margin-bottom: 10px;
}

button {
    margin-bottom: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.section {
    padding: 20px 0;
}

input[type="text"], input[type="number"], input[type="file"] {
    margin-bottom: 10px;
}

button {
    margin-bottom: 10px;
}

.input-field input[type=number]::-webkit-inner-spin-button,
.input-field input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-field input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.input-field label {
    color: #9e9e9e;
}

.custom-container {
    width: 90%;
    margin: 0 auto;
}

nav, .page-footer {
    background-color: #FF9800 !important; /* Orange color */
}


